<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>{% block title %} {{ site_name }} {% endblock %}</title>
    <meta name="author" content="{{ author }}">
    <meta name="description" content="{% block description %} The personal website of {{ author }} {% endblock %}">
    <!-- Uncomment to disable caching
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1990 12:00:00 GMT" />
    -->
    <link rel="shortcut icon" href="/favicon.ico">
    <script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>
    <!-- Event: Load TypeKit for modified fonts -->
    <script>
      (function(d) {
        var config = {
            kitId: 'efs6vco',
            scriptTimeout: 3000,
            async: true
          },
          h = d.documentElement,
          t = setTimeout(function() {
            h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
          }, config.scriptTimeout),
          tk = d.createElement("script"),
          f = false,
          s = d.getElementsByTagName("script")[0],
          a;
        h.className += " wf-loading";
        tk.src = 'https://use.typekit.net/' + config.kitId + '.js';
        tk.async = true;
        tk.onload = tk.onreadystatechange = function() {
          a = this.readyState;
          if (f || a && a != "complete" && a != "loaded") return;
          f = true;
          clearTimeout(t);
          try {
            Typekit.load(config)
          } catch (e) {}
        };
        s.parentNode.insertBefore(tk, s)
      })(document);

    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>

  <body class="Site">
    {% block header %} {% include "_layouts/header.html" %} {% endblock %}

    <div class="Site-content">
      <div class="u-container">
        {% block content %} {% endblock %}
      </div>
    </div>

    {% block footer %} {% include "_layouts/footer.html" %} {% endblock %}

    <!-- Javascript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123796780-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'UA-123796780-1');

    </script>
    <!-- end scripts -->

  </body>

</html>
