<header class="site-header">
  <nav class="Nav">
    <div class="Nav-home">
      <a href="{{ site_url }}">{{ site_name }}</a>
    </div>
    <div class="Nav-sections">
      <a class="Nav-section {{'Nav-section--active' if page and page.url == 'about'}}" href="{{ site_url }}/about">about</a>
      <a class="Nav-section {{'Nav-section--active' if page and 'co-op' in page.url}}" href="{{ site_url }}/co-op">co-op</a>
      <a class="Nav-section {{'Nav-section--active' if page and 'resume' in page.url}}" href="{{ site_url }}/resume">resume</a>
    </div>
  </nav>
  <div class="u-separator"></div>
</header>
