/* Variables */

:root {
  --fontColor: hsla(0, 0%, 100%, 0.7);
  --fontSansSerif: 'Lato', 'Helvetica Neue', sans-serif;
  --fontSerif: 'Merriweather', Georgia, serif;
  --fontWeightLight: lighter;
  --fontWeightMed: normal;
  --fontWeightHeavy: bolder;
  --fontMonospace: Consolas, "Liberation Mono", Menlo, "Courier New", Courier, monospace;
  --lineHeight: 1.5;
  /* Type scale ratio on smaller screens */
  /* Minor third */
  --ratioSm: 1.2;
  /* Type scale ratio on larger screens */
  /* Augmented fourth */
  --ratioLg: 1.414;
  /* Type scale */
  --stepUp1: calc(1em * var(--ratioSm));
  --stepUp2: calc(1em * var(--ratioSm) * var(--ratioSm));
  --stepUp2FixedSm: calc(1em * var(--ratioSm) * var(--ratioSm));
  --stepUp2Fixed: calc(1em * var(--ratioLg) * var(--ratioLg));
  --stepUp3: calc(1em * var(--ratioSm) * var(--ratioSm) * var(--ratioSm));
  --stepDown1: calc(1em / var(--ratioSm));
  /* Use percentages for base font sizes: https://kyleschaeffer.com/development/css-font-size-em-vs-px-vs-pt-vs/ */
  /* Base font size on mobile */
  --baseFontSizeSm: 100%;
  /* Base font size on larger screens */
  --baseFontSizeMd: 112.5%;
  --smallFontSize: 0.875em;
  --socialIconSize: 27px;
  --maxWidth: 40rem;
  /*--primaryColor: hsl(207, 48%, 26%);*/
  --primaryColor: #209cee;
  /*--secondaryColor: #32742c;*/
  --secondaryColor: #f06292;
  --mutedColor: #888;
  --mutedPrimary: hsla(207, 48%, 26%, 0.8);
  --gray: #ccc;
  --grayHighlight: #f9f9f9;
  --backgroundColor: #333;
}

/* Breakpoints */

/* Phone (landscape) and tablet and desktop: only screen and (min-width: 480px) */

/* Tablet and desktop: only screen and (min-width: 768px) */

/* Phone (all orientations): only screen and (max-width: 767px) */

/* Phone (portrait): only screen and (max-width: 767px) and (orientation: portrait) */

@media only screen and (min-width: 768px) {
  :root {
    --stepUp1: calc(1em * var(--ratioLg));
    --stepUp2: calc(1em * var(--ratioLg) * var(--ratioLg));
    --stepUp3: calc(1em * var(--ratioLg) * var(--ratioLg) * var(--ratioLg));
  }
}

@media only screen and (min-width: 480px) {
  :root {
    --stepDown1: calc(1em / var(--ratioLg));
  }
}

/* Global */

html {
  font-size: var(--baseFontSizeSm);
  line-height: var(--lineHeight);
  font-family: var(--fontSansSerif);
  font-weight: var(--fontWeightMed);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: normal;
  font-variant-ligatures: common-ligatures contextual;
  color: var(--fontColor);
  /* Box model as it should be: https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
  box-sizing: border-box;
}

@media only screen and (min-width: 480px) {
  html {
    font-size: var(--baseFontSizeMd);
  }
}

body {
  background-color: var(--backgroundColor);
}

.primary {
  color: var(--primaryColor);
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* Typography */

h1, h2, h3 {
  font-family: var(--fontSerif);
  font-weight: var(--fontWeightMed);
  margin: calc(1em * var(--ratioLg)) 0 0.5em;
  line-height: 1.2;
}

h1.u-lead {
  font-family: var(--fontSansSerif);
  font-weight: var(--fontWeightLight);
  font-size: var(--stepUp2Fixed);
  color: var(--primaryColor);
}

h1 {
  font-size: var(--stepUp2);
}

h2.u-sublead {
  font-family: var(--fontSansSerif);
  font-weight: var(--fontWeightLight);
  font-size: var(--stepUp2FixedSm);
  text-decoration: underline;
}

h2 {
  font-size: var(--stepUp1);
}

h3 {
  font-size: 1.1em;
}

small, aside {
  font-size: var(--smallFontSize);
}

a {
  color: var(--primaryColor);
  font-weight: var(--fontWeightLight);
  text-decoration: none;
}

a:hover {
  color: var(--secondaryColor);
}

/* Utilities */

.u-container, .u-separator, .Nav {
  max-width: var(--maxWidth);
  margin: 0 auto;
  padding: 0 1.8em;
}

.u-separator {
  border-bottom: 1px solid var(--gray);
  max-width: calc(var(--maxWidth) - 2em);
  opacity: 0.5;
  font-size: 16px;
  color: var(--fontColor);
}

.u-muted {
  color: var(--mutedColor);
}

/* Components */

/* Site layout */

.Site {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
}

.Site-header {
  flex: none;
}

.Site-footer {
  padding: 0;
  margin-top: 5vh;
  flex: 0 0 20%;
}

@media only screen and (min-width: 768px) {
  .Site-footer {
    margin-top: 2.82715em;
  }
}

/* Nav */

.Nav {
  margin-bottom: 0.556em;
  padding-top: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
}

@media only screen and (min-width: 480px) {
  .Nav {
    padding-top: 2em;
  }
}

.Nav a {
  text-decoration: none;
  font-size: 1.3em;
}

.Nav-home a {
  font-family: var(--fontSerif);
  flex: 0 1 20%;
  font-size: 1em;
}

@media only screen and (min-width: 480px) {
  .Nav-home a {
    font-size: 1.3em;
  }
}

.Nav-sections {
  flex: 1 0 auto;
  display: flex;
  justify-content: flex-end;
}

/* Temporarily tweaking navbar item orientation on mobile  */

/*
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .Nav-home a {
    justify-content: center;
  }
  .Nav-sections {
    justify-content: center;
  }
}
*/

.Nav-section {
  font-family: var(--fontSansSerif);
  font-weight: var(--fontWeightLight);
  text-decoration: none;
  padding: 0 15px;
}

.Nav-section:last-child {
  padding-right: 0;
}

.Nav-section.Nav-section--active {
  font-weight: var(--fontWeightMed);
}

/* Footer */

.Footer {
  margin: 10px auto 0 auto;
  font-family: var(--fontSerif);
  font-size: var(--stepDown1);
  color: var(--mutedColor);
  text-align: center;
  padding: 0 1.8em;
}

.Footer a {
  color: var(--mutedColor);
}

.Footer a:hover {
  color: var(--secondaryColor);
  opacity: 0.8;
}

.Footer p {
  margin: 0;
}

.Footer-social {
  font-size: var(--socialIconSize);
  padding-top: 20px;
  padding-bottom: 10px;
}

.Footer-social a {
  text-decoration: none;
}

.Footer-social .SocialIcon {
  display: inline;
  margin: 0 1vw;
  padding: 0;
}

/* Content */

.Site-content {
  flex: 1 0 auto;
  width: 100%;
}

.Page>h1 {
  margin: 0;
}

.Page {
  padding-top: 5vh;
}

@media only screen and (min-width: 768px) {
  .Page {
    padding-top: 2.82715em;
  }
}

.Page--landing {
  font-family: var(--fontSerif);
}

/* Tags */

.Tag-header {
  font-size: 1.1em;
  text-align: center;
}

/* Images */

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.left-aligned {
  margin: 10px 20px;
  float: left;
}

.right-aligned {
  margin: 10px 20px;
  float: right;
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  .left-aligned {
    float: none;
    margin: 0 auto;
  }
  .right-aligned {
    float: none;
    margin: 0 auto;
  }
}

/* Text */

p {
  word-wrap: break-word;
}

p span {
  display: block;
}

/* Aesthetic */

.center {
  text-align: center;
}

.active {
  font-weight: var(--fontWeightHeavy);
}

.no-margin {
  margin: 0 auto;
}
